<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>categories</title>
</head>
<body>
<h1>Categories-products</h1>
<ul>
  <li th:each="category : ${categories}">
  </li>
</ul>
<table border="1px">
  <thead>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Description</th>
    <th>Category</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.title}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.description}"></td>
    <td th:text="${product.category.name}"></td>
    <td><a th:href="@{/categories/remove(id=${product.id})}">Remove</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>